.svg-item {
    
    img {
      width: inherit;
      height: auto;
    }
    
    svg {
      margin: 0;
      padding: 0;
      display: inherit;
    }
    .symbol-path {
      fill: #333;
    }
  
    .icon-white {
      fill: white;
    }
    .icon-blue {
      fill: #84A8D7;
    }
  
  }
  